html {
    font-family: 'Proxima Nova Rgular', sans-serif;
}

body {
    min-width: 1300px;
    background-color: black;
    color: #DDD;
}

body.light {
    background-color: rgb(232, 232, 232);
    color: #333;
}

body.light #focusDisplay {
    background-color: rgba(0,0,0,.1);
}

canvas {
    margin: 50px 50px 0;
    border: 1px solid #333;
}

#hint {
    margin-left: 120px;
    margin-top: 60px;
}

#options {
    position: absolute;
    left: 10px;
    top: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #CCC;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    color:#333;
}

#options span {
    position: absolute;
    left: 15px;
    top: 20px;
}

/*#options:active + #interface,#options:hover + #interface, #interface:hover{
	display: block;
}
*/

#interface {
    top: 10px;
    left: 0px;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: #EEE;
    padding: 30px 20px 20px 120px;
    width: 400px;
    border: 1px solid #555;
}

#focusDisplay {
	position:absolute;
	bottom: 50px;
	top:0;
	padding-top: 20px;
	right:0px;
	width:200px;
	height:100%;
	background-color: rgba(255,255,255,.1);
	overflow: scroll;
	font-family:monospace;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* remove default arrow */
    background: transparent;
    background-color: #3D3D3D;
    border: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.06em;
    height: 29px;
    padding: 5px;
    margin: 5px 10px;
    color: #DDD;
    border-radius: 0px;
}

select:active {
    border: none;
}

button {
    background-color: black;
    border: 2px solid #DDD;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-size: 16px;
    padding: 5px 0;
    width: 390px;
    line-height: 20px;
    margin-top: 10px;
}

button:hover {
    color: black;
    background-color: #DDD;
    font-weight: bold;
}

.item {
    display: inline-block;
}

.item p {
    width: 60px;
}

.item select {
    width: 320px;
}

.item select.half,.item .select.half {
    width: 120px;
}

.reader {
    height: 50px;
}

.reader div {
    padding-left: 10px;
    font-size: 18px;
    display: inline-block;
}

.reader select {
    float: right;
    display: none;
}

.reader input {
    display: none;
}

.reader label {
    display: inline-block;
    margin-top: 5px;
}

.reader label:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    margin: 0 10px -5px 0;
    border: 2px solid gray;
}

.reader input:checked + label:hover:before {
    border-color: gray !important;
}
.reader input:checked + label:before{
   border-color: rgba(0,0,0,0);
}

/* Reader Color Scheme */
.reader#Mesostic_Reader input:checked + label:before {
     background-color: #1464DB;
}
.reader#Perigram_Reader input:checked + label:before {
     background-color: #BD0504;
}
.reader#Oblique_Perigram_Reader input:checked + label:before {
     background-color: #FA0007;
}
.reader#Spawning_Reader input:checked + label:before {
     background-color: #FFB017;
}
.reader#Perigram_Spawner input:checked + label:before {
     background-color: #D88100;
}
.reader#Oblique_Spawner input:checked + label:before {
     background-color: #FFD000;
}

.reader#Mesostic_Reader input + label:hover:before{
     border-color: #1464DB;
}
.reader#Perigram_Reader input + label:hover:before{
     border-color: #BD0504;
}
.reader#Oblique_Perigram_Reader input + label:hover:before{
     border-color: #FA0007;
}
.reader#Spawning_Reader input + label:hover:before{
     border-color: #FFB017;
}
.reader#Perigram_Spawner input + label:hover:before{
     border-color: #D88100;
}
.reade, .reader#Oblique_Spawner input + label:hover:before{
     border-color: #FFD000;
}

.reader input:checked ~ select {
    display: inline-block;
}

.reader div {
    margin: 5px;
}

#interface p {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-size: 16px;
}

/*customized select with ul li */
.item {
    height: 40px;
    margin:5px 0;
}
ul.select {
    list-style-type: none;
    height: 30px;
    width:320px;
    -webkit-padding-start:0px;
    display: inline-block;
    cursor: default;
    margin-right: 20px;
}
ul.select li {
    padding: 7px 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.06em;
    color:#DDD;
    border:none;
    width: 300px;
}
ul.select.half li {
    width:100px;
}
ul.select li.init{
    z-index: 0;
    background-color: #3D3D3D;
}
ul.select li:not(.init) {
    z-index: 50;
    float: left;
    display: none;
    background-color: #AAA;
    color:black;
}
ul.select li:not(.init).selected{
    color:white;
}
ul.select li:not(.init):hover{
    background: gray;
}
.tag{
    position:absolute;
    width:100px;
    text-align: center;
    text-transform: uppercase;
    margin: -30px auto 0;
    left: 0;
    right: 0;
    opacity: .8;

}
#overlay{
    position:fixed;
    background-color: rgba(0,0,0,.7);
    width:100%;
    height: 100%;
    top:0;
    z-index: 100;
    opacity: 1;
    display: block;
    transition: opacity 2s; 
}
#overlay.fade{
    opacity: 0;
    height: 0;
}
#loader {
    border: 12px solid #333; /* Light grey */
    border-top: 12px solid #f3f3f3; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 300px auto 0;
    left: 0;
    right: 0;
    animation: spin 2s linear infinite;
    opacity: .7;
}
#overlay p{
    position: absolute;
    margin: 370px auto 0;
    width:100px;
    height:20px;
    left: 0;
    right: 0;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
